@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Astigmatic|Unkempt&display=swap');
html,body {
  scroll-behavior: smooth;

}

/* nav-bar */
ul,li,a {
	color: white;
}

nav .navbar {
	margin: 0;
	width: 95%;
}
/* landing */
.landing {
  background: url(../images/pizzeria4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  background-attachment: fixed;
}

.overlay {
position: absolute;
min-height: 100%;
min-width: 100%;
left: 0;
top: 0;
background: rgba(0, 0, 0, 0.3);
}
.first {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;

}
.first h1 {
	color: crimson;
  font-size: 4.5em;
  font-family: 'Astigmatic', serif;
}

.first p {
	color:yellow;
	font-size: 1.3rem;
	line-height: 1.5;
	font-size: 2em;
}

/* about section */

span.emoji {
	font-size: 30px;
	vertical-align: middle;
	line-height: 2;
  }

#about h2 {
  font-size: 2rem !important;
  color: crimson;
}
#about p {
  font-size: 1.2rem !important;
  font-family: 'Pompiere', serif;
}
/* cuisine-section */
.carousel-item.active, .carousel-item .view {
  height: 70vh!important;
}

.carousel-item img {
  object-fit: cover;
  width:100%!important;
  height: 100% !important;
}

.content h3 {
font-size: 55px;
}

@media screen and (max-width: 320px) {
  .content h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content h3 {
    font-size: 30px;
  }

  
}

.content h5 {
  font-size: 23px;
  margin-left: 80px;
  margin-right: 80px;
}

@media screen and (max-width: 320px) {
  .content h5 {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px
  }

}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content h5 {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

